.cardItem {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 6px 4px;
}

.item {
  background: #d4f1f4;
  width: 150px;
  height: 100%;
  border: 2px solid transparent;
  transition: 0.1s ease-in-out;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.item:hover {
  border: 2px solid #37d4a0;
}

.status {
  text-transform: capitalize;
}
.statusDead {
  color: #850000;
  font-weight: bold;
}

.statusAlive {
  color: #00780c;
  font-weight: bold;
}
img {
  border-radius: inherit;
}
.name {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  justify-content: center;
  margin: 4px 0;
}
.checkType {
  text-align: end;
}
.type .checkType {
  display: none;
}
.type:after {
  content: "---";
}
.paraName {
  font-weight: bold;
}
p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .item {
    width: 130px;
  }
}
